// Container max width
$full_width:"max-width:1920px";
$max_width:"max-width:1440px";
// Breakpoints
$lg:"max-width:1199px";
$sm:"max-width:1100px";
$desktop:"max-width:992px";
$tablet:"max-width:768px";
$mobile:"max-width:576px";

